$hover-bg: rgb(235, 235, 235);
$layout-header-height: 4rem;
$layout-aside-color: #fff;
$layout-aside-hover-bg: #ffffff2a;

// Bootstrap 主题色

// bg
$primary: #0d6efd;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

// bg lighter
$primary-bg-subtle: #cfe2ff;
$secondary-bg-subtle: #e2e3e5;
$success-bg-subtle: #d1e7dd;
$info-bg-subtle: #cff4fc;
$warning-bg-subtle: #fff3cd;
$danger-bg-subtle: #f8d7da;
$light-bg-subtle: #fcfcfd;
$dark-bg-subtle: #ced4da;

// text
$primary-text-emphasis: #052c65;
$secondary-text-emphasis: #2b2f32;
$success-text-emphasis: #0a3622;
$info-text-emphasis: #055160;
$warning-text-emphasis: #664d03;
$danger-text-emphasis: #58151c;
$light-text-emphasis: #495057;
$dark-text-emphasis: #495057;

// border
$primary-border-subtle: #9ec5fe;
$secondary-border-subtle: #c4c8cb;
$success-border-subtle: #a3cfbb;
$info-border-subtle: #9eeaf9;
$warning-border-subtle: #ffe69c;
$danger-border-subtle: #f1aeb5;
$light-border-subtle: #e9ecef;
$dark-border-subtle: #adb5bd;
